nav.navbar.navbar-expand-lg.navbar-primary.bg-primary
  = link_to "FaceBookClone", root_path, class: "navbar-brand"
  - if login?
    = link_to "ログアウト", logout_path(@current_user.id),method: :delete, class: "nav-link"